@import 'tailwindcss';
@import 'tailwindcss-primeui';

* {
  @apply box-border;
}

body,
html {
  @apply p-0 m-0 select-none;
}

/* ==========================================================================
   Estilos personalizados para la barra de desplazamiento: delgada, ocultamiento automático y color rosa de Tailwind CSS
   ========================================================================== */

body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-track {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-500 rounded-full;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
